.grey{
    color: #cecccf;
}

.mblack{
    color: black;
}


#user{
    height: 58px;
    color: #b1b1b1;
    background-color: #eaeaea;
}

#contact-info{
    height: 58px;
    color: #b1b1b1;
    background-color: #eaeaea;
}

#notification-banner{
    height: 65px;
    background-color: #8edafc;
}

.my-icon{
    background-color: white;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    color: #8edafc;
    overflow: hidden;

}
.my-tools{
    text-align: end;
}

#notification-banner .my-icon i{
    margin: 50% 0 0 50%;
    transform: translate(-50%, -50%);

}

.my-text{
    height: 60%;
    margin-left: 15px;
    font-size: .75rem;
}

p{
    margin-bottom: 0;
}

.avatar{
    height: 65px;
    border-bottom: 1px solid #e9ebeb;
}

.avatar:hover{
    background-color: #eaeaea;
    cursor: pointer;
}

.my-icon img{
    width: 100%;
}

#my-chat{
    background-image: url(./img/mine.jpg);
    border-left: 1px solid #cacaca;
}

.sent{
    background-color: #d5f9ba;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    position: relative;
}

.received{
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

#chat{
    height: calc(100vh - (58px + 65px));
}

#chat i,
#chat span{
    color: #b1b1b1;
}

#chat i:hover{
    cursor: pointer;
}

.message-options{
    background-color: rgb(248, 248, 248);
    position: absolute;
    right: 25px;
    bottom: 5px;
    z-index: 1;
    width: 150px;
    padding: 8px;
}

.message-options p:hover{
    background-color: #eaeaea;
}

.message-options p:first-child{
    margin-bottom: 12px;
}

#search-contact{
    height: 45px;
    background-color: #fafafa;
}

#search-contact input{
    width: 100%;
    margin: 8px;
}

#search-contact i{
    font-size: 1.2rem;
    line-height: 2.7rem;
}

#writer{
    height: 65px;
    background-color: #f3eeea;
}

#writer>div.container>div.row{
    height: 65px;
}

#writer input{
    width: 100%;
    padding: 10px 5px;
    border: none;
    border-radius: 8px;
}