.grey{
    color: #cecccf;
}

.mblack{
    color: black;
}


#user{
    height: 58px;
    color: #b1b1b1;
    background-color: #eaeaea;
}

#contact-info{
    height: 58px;
    color: #b1b1b1;
    background-color: #eaeaea;
}

#notification-banner{
    height: 65px;
    background-color: #8edafc;
}

.my-icon{
    background-color: white;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    color: #8edafc;
    overflow: hidden;

}
.my-tools{
    text-align: end;
}

#notification-banner .my-icon i{
    margin: 50% 0 0 50%;
    transform: translate(-50%, -50%);

}

.my-text{
    height: 60%;
    margin-left: 15px;
    font-size: .75rem;
}

.my-text p{
    margin-bottom: 0;
}

[class*=avatar]{
    height: 65px;
    border-bottom: 1px solid #e9ebeb;
}

[class*=avatar]:hover{
    background-color: #eaeaea;
    cursor: pointer;
}

.my-icon img{
    width: 100%;
}

#my-chat{
    background-image: url(./img/mine.jpg);
    border-left: 1px solid #cacaca;
}

.sent{
    background-color: #d5f9ba;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    position: relative;
}

.received{
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

#chat{
    height: calc(100vh - 58px);
}